<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
        <link rel="icon" href="/image/weather-icon.svg">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Samson Ugwu. It uses data from mapbox.com and darksky.net</p><br><br>
        <img src="/image/S0001.jpg" alt="">
    </div>


    {{>footer}}
</body>

</html>